<mat-card style="margin: 10px">
    <mat-card-content fxLayout="column" fxLayoutGap="25px">
        <div fxLayout="row" fxLayoutGap="25px" fxLayoutAlign="center center">
            <div>
                <mat-form-field>
                    <mat-label>Tags</mat-label>
                    <mat-select [formControl]="tagsControl" multiple>
                        <mat-option *ngFor="let tag of $tags | async" [value]="tag">{{tag}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Mês</mat-label>
                    <mat-select [formControl]="monthsControl">
                        <mat-option *ngFor="let month of months" [value]="month">{{month.format('MMMM-YYYY')}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Descrição</mat-label>
                    <input [formControl]="descriptionControl" matInput type="text">
                </mat-form-field>
            </div>
        </div>
    </mat-card-content>
</mat-card>

<mat-card style="margin: 10px">
    <mat-card-content fxLayout="column" fxLayoutGap="25px">
        <div fxLayout="column" fxLayoutGap="1005px">
            <mat-list>
                <mat-list-item style="margin-top: 12px" *ngFor="let trans of $transactions | async">
                    <div fxFlex fxLayout='column'>
                        <div fxLayout='row' fxLayoutAlign="start" fxLayoutGap="5px">
                            <span class="tag" *ngFor="let tag of trans.tags">{{tag}}</span>
                        </div>
                        <span fxLayout='row' fxLayoutAlign="start">{{trans.date | date:'d/MM/y' }} {{trans.description}}</span>

                    </div>
                    <div fxFlex fxLayout='column' fxLayoutAlign="end">
                        <span fxLayout='row' fxLayoutAlign="end">{{trans.emitter}}</span>
                        <span fxLayout='row' fxLayoutAlign="end">{{trans.value | currency:'R$'}}</span>
                    </div>
                </mat-list-item>
            </mat-list>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <div>
            <div fxLayout="row" fxLayoutAlign="end">
                <button routerLink="/transactions/add" mat-button>Adicionar transação</button>
            </div>
        </div>
    </mat-card-actions>
</mat-card>