<mat-card style="margin: 10px">
    <mat-card-title>Últimas transações</mat-card-title>

    <mat-card-content fxLayout="column" fxLayoutGap="25px">
        <div fxLayout="column" fxLayoutGap="5px">
            <mat-list>
                <mat-list-item>
                    <div fxFlex fxLayout='column'>
                        <span fxLayout='row' fxLayoutAlign="start">Tag 1 Tag 2</span>
                        <span fxLayout='row' fxLayoutAlign="start">Fies</span>

                    </div>
                    <div fxFlex fxLayout='column' fxLayoutAlign="end">
                        <span fxLayout='row' fxLayoutAlign="end">Itau</span>
                        <span fxLayout='row' fxLayoutAlign="end">89.00</span>
                    </div>
                </mat-list-item>
                <mat-list-item>
                    <div fxFlex fxLayout='column'>
                        <span fxLayout='row' fxLayoutAlign="start">Tag 1 Tag 2</span>
                        <span fxLayout='row' fxLayoutAlign="start">Fies</span>

                    </div>
                    <div fxFlex fxLayout='column' fxLayoutAlign="end">
                        <span fxLayout='row' fxLayoutAlign="end">Itau</span>
                        <span fxLayout='row' fxLayoutAlign="end">89.00</span>
                    </div>
                </mat-list-item>
                <mat-list-item>
                    <div fxFlex fxLayout='column'>
                        <span fxLayout='row' fxLayoutAlign="start">Tag 1 Tag 2</span>
                        <span fxLayout='row' fxLayoutAlign="start">Fies</span>

                    </div>
                    <div fxFlex fxLayout='column' fxLayoutAlign="end">
                        <span fxLayout='row' fxLayoutAlign="end">Itau</span>
                        <span fxLayout='row' fxLayoutAlign="end">89.00</span>
                    </div>
                </mat-list-item>
                <mat-list-item>
                    <div fxFlex fxLayout='column'>
                        <span fxLayout='row' fxLayoutAlign="start">Tag 1 Tag 2</span>
                        <span fxLayout='row' fxLayoutAlign="start">Fies</span>

                    </div>
                    <div fxFlex fxLayout='column' fxLayoutAlign="end">
                        <span fxLayout='row' fxLayoutAlign="end">Itau</span>
                        <span fxLayout='row' fxLayoutAlign="end">89.00</span>
                    </div>
                </mat-list-item>
                <mat-list-item>
                    <div fxFlex fxLayout='column'>
                        <span fxLayout='row' fxLayoutAlign="start">Tag 1 Tag 2</span>
                        <span fxLayout='row' fxLayoutAlign="start">Fies</span>

                    </div>
                    <div fxFlex fxLayout='column' fxLayoutAlign="end">
                        <span fxLayout='row' fxLayoutAlign="end">Itau</span>
                        <span fxLayout='row' fxLayoutAlign="end">89.00</span>
                    </div>
                </mat-list-item>
                <mat-list-item>
                    <div fxFlex fxLayout='column'>
                        <span fxLayout='row' fxLayoutAlign="start">Tag 1 Tag 2</span>
                        <span fxLayout='row' fxLayoutAlign="start">Fies</span>
                    </div>
                    <div fxFlex fxLayout='column'>
                        <span fxLayout='row' fxLayoutAlign="end">Itau</span>
                        <span fxLayout='row' fxLayoutAlign="end">89.00</span>
                    </div>
                </mat-list-item>
            </mat-list>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <div>
            <div fxFlex fxLayout='column'>
                <button fxLayout='row' fxLayoutAlign="start" mat-button>Adicionar Transação</button>
            </div>
            <div fxFlex fxLayout='column'>
                <button fxLayout='row' fxLayoutAlign="end" mat-button>Ver Extrato</button>
            </div>
        </div>
    </mat-card-actions>
</mat-card>