<mat-card style="margin: 10px">
    <mat-card-title>Últimas transações</mat-card-title>

    <mat-card-content fxLayout="column" fxLayoutGap="25px">
        <div fxLayout="column" fxLayoutGap="1005px">
            <mat-list>
                <mat-list-item style="margin-top: 12px" *ngFor="let trans of $transactions | async" >
                    <div fxFlex fxLayout='column'>
                        <div fxLayout='row' fxLayoutAlign="start" fxLayoutGap="5px">
                            <span class="tag" *ngFor="let tag of trans.tags" >{{tag}}</span>
                        </div>
                        <span fxLayout='row' fxLayoutAlign="start">{{trans.description}}</span>

                    </div>
                    <div fxFlex fxLayout='column' fxLayoutAlign="end">
                        <span fxLayout='row' fxLayoutAlign="end">{{trans.emitter}}</span>
                        <span fxLayout='row' fxLayoutAlign="end">{{trans.value | currency:'R$'}}</span>
                    </div>
                </mat-list-item>
            </mat-list>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <div>
            <div fxFlex fxLayout='column'>
                <button fxLayout='row' (click)="teste()" fxLayoutAlign="start" mat-button>Adicionar Transação</button>
            </div>
            <div fxFlex fxLayout='column'>
                <button routerLink='transactions/extract' fxLayout='row' fxLayoutAlign="end" mat-button>Ver Extrato</button>
            </div>
        </div>
    </mat-card-actions>
</mat-card>